################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/bin
/Components/LiveSplit.HollowKnight.exe
/obj
/LiveSplit.HollowKnight.csproj.user
.idea
LocalBuildProperties.props