################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LiveSplit.HollowKnight/v14
/bin
/Components/LiveSplit.HollowKnight.exe
/obj
/LiveSplit.HollowKnight.csproj.user
/.vs/LiveSplit.HollowKnight/v15
.idea
